body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ff0000, #680000);
    color: white;
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.pokedex {
    max-width: 400px;
    margin: auto;
    background: #fff;
    color: #000;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px black;
}

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.search-box input {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

.search-box button {
    padding: 10px 15px;
    border: none;
    background: #5abd0a;
    color: rgb(24, 2, 2);
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.card {
    background: #d10c0c;
    padding: 20px;
    border-radius: 20px;
}

.card img {
    width: 150px;
    height: 150px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    padding: 10px 20px;
    background: #d1bfbf;
    border: none;
    color: rgb(78, 4, 112);
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

